{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Our Block
    </h1>
    <h2 class="govuk-heading-l">
      {{data['b-address-line-1']}} {{data['b-address-line-2']}}, {{data['b-address-town']}}, {{data['b-address-postcode']}}
    </h2>
  </div>
  <div class="govuk-grid-column-full">
   <form action="new-owner-name.html"> <button class="govuk-button" data-module="govuk-button">
      Add an owner
    </button>
  </form>
  <form action="director-name.html"> <button class="govuk-button" data-module="govuk-button">
    Your details
  </button>
</form>
<form action="block-address.html"> <button class="govuk-button" data-module="govuk-button">
  Block details
</button>
</form>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Owners</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Email</th>
          <th scope="col" class="govuk-table__header">Unit</th>
          <th scope="col" class="govuk-table__header">Role</th>
          <th scope="col" class="govuk-table__header">Signed up?</th>
          <th scope="col" class="govuk-table__header">Update</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Hari Ansari</th>
          <td class="govuk-table__cell"><a href="mailto:hi@exmaple.com">hi@exmaple.com</a></td>
          <td class="govuk-table__cell">Flat 1</td>
          <td class="govuk-table__cell">Owner occupier</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell"><a href="#">Update</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Peter Gough</th>
          <td class="govuk-table__cell"><a href="mailto:hi@exmaple.com">hi@exmaple.com</a></td>
          <td class="govuk-table__cell">Flat 3</td>
          <td class="govuk-table__cell">Owner occupier</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell"><a href="#">Update</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mohammed Gul</th>
          <td class="govuk-table__cell"><a href="mailto:hi@exmaple.com">hi@exmaple.com</a></td>
          <td class="govuk-table__cell">Flat 4</td>
          <td class="govuk-table__cell">Non-resident owner</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell"><a href="#">Update</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Dale Steyn</th>
          <td class="govuk-table__cell"><a href="mailto:hi@exmaple.com">hi@exmaple.com</a></td>
          <td class="govuk-table__cell">Flat 9</td>
          <td class="govuk-table__cell">Non-resident owner</td>
          <td class="govuk-table__cell">No</td>
          <td class="govuk-table__cell"><a href="#">Update</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
