{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Our Block
    </h1>
    <h2 class="govuk-heading-l">
      Add an owner
    </h2>

   <form class="form" action="new-owner-role" method="post"> 
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
          Which unit do they own?
        </label>
      </h1>
      <input class="govuk-input" id="owner-unit" name="owner-unit" type="text" type="submit">
    </div>
    <button class="govuk-button" data-module="govuk-button">
      Next
    </button>
  </form>

    
  </div>
</div>

{% endblock %}
